.greet{
    text-align: center;
}

button{
    background-color: rgb(62, 240, 180);
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    color: rgb(68, 14, 247);
}

/* ++++++++++++++++++++++++++++++++++++++ */


.card {
    background-color: rgb(73, 73, 73);
    height: 400px;
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
  }
  
  .user {
    line-height: 17px;
  }
  
  img {
    height: 130px;
    width: 130px;
    margin: -40% 0 0 30%;
    border-radius: 50%;
    background-color: #fd3838;
    border: 4px solid #fd3838;
  }
  
  .u {
    color: #fd3838;
    font-weight: 700;
  }
  
  .detail {
    text-align: center;
    border-bottom: 1px solid #fd3838;
  }
  
  .tech {
    border-right: 1px solid #fd3838;
  }
  
  /* .tech2{
    tranken list
  } */
  
  li {
    margin-top: 5px;
  }
  
  
  .btn {
    background-color: #fd3838;
  }


  .row{
      display: inline;
      text-align: center;
      color: #fd3838;
  }